@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.headerSignIn{
  height: 25%;
  background-color: #800000;
}

.headerSignIn.text{
 font-family: Montserrat;
 text-align: center;
 color: white; 
}
.bodySignIn.text{
 font-family: Montserrat;
 text-align: center;
 color: white;
 font-size:45px;
}
signInBtn.SignIn, userName_value{
color: black;
}
body{
 background-color: black;
 text-align: center;
 font-family: Montserrat;
 color: white;
}
